/* Wrap global styles in :global */
/* :global(body) {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

:global(a) {
  text-decoration: none;
  color: inherit;
} */

/* Local styles for the page */
.container {
  padding: 20px;
}

.description {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 20px;
}

.dates{
  color: rgb(49, 49, 46);
  padding:  10px 0;
}